.tile {
    text-align: center;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
outline: 0;
}

.tile-icon {
    width: 50px;
    pointer-events: none;
}

h4.tile-headline {
    color: white;
    font-size: 24px;
}