.tile {
    text-align: center;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
outline: 0;
}

.tile-icon {
    width: 50px;
    pointer-events: none;
}

h2 {
    font-size: 20px;
}

h4.tile-headline {
    color: white;
    font-size: 14px;
}

.counter-label {
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: visible;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 60px;
    font-size: 40px;
    background-color: darkred;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#fillCupsField {
    background-color: #000000;
    text-align: center;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}